
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz@1,9..40&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#pizza-img,
#logo,
#mensagem-inicio,
#linha {
    position: fixed;
}


#pizza-img {
    width: 55vw;
    aspect-ratio: 1/1;

    left: 50%;
    bottom: 0;

    transform: translate(-50%,50%);
    
    transition: transform 0.8s ease-in-out;

}
#linha {
    background-color: rgb(71, 71, 71);
    width: 1px;
    height: 19vh;
    left: 64.5vw;
    top: 14vh;
    border-radius: 2px;
}

#logo {
    opacity: 1;
    transition: transform 0.8s ease-in-out;
    width: 25vw;
    left: 38vw;
    top: 13vh;
}


#mensagem-inicio {
    opacity: 1;
    font-size: 8px;
    font-family: "DM Sans", sans-serif;
    left: 15px;
    bottom: 17px;
    transition: bottom 0.8s ease-in-out;
}

body {
    background-color: rgb(255, 255, 255);

}